* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 12px;
}

.grid-size-btn {
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #333;
  background: rgb(255, 192, 203);
  cursor: pointer;
  transition: all 0.2s ease;
  margin-right: 10px;
}
label {
  font-size: 20px;
}

#colorPicker {
  padding: 2px;
  border-radius: 4px;
  border: 1px solid #333;
  background: rgb(255, 192, 203);
  cursor: pointer;
  transition: all 0.2s ease;
}

.grid-size-btn:hover,
#colorPicker:hover {
  background: rgb(209, 160, 167);
}

.container {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}

.grid {
  border: 0.5px solid black;
}
